src/bootstrap/cache/

src/storage/app/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/storage/logs/*

src/vendor/
src/node_modules/

.git
.idea
src/.gitignore
src/.gitattributes

README.md

Dockerfile
docker-compose.yml
